@page
@model FizzBuzzWeb.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post">
        <label asp-for="Fizzbuzz.value"></label>
        <input asp-for="Fizzbuzz.value" /><br />
        <strong><span asp-validation-for="Fizzbuzz.value" class="text-danger"></span></strong><br />
        <button type="submit">Submit</button>
    </form>

    <p></p>

   
   

    @if (Model.Fizzbuzz != null && ModelState.IsValid)
    {
        <p>
            Result:  @Model.Fizzbuzz.Result()
        </p>
    }
</div>


@{ 
   
}





