@page
@model FizzBuzzWeb.Pages.LastCheckedModel
@{
    ViewData["Title"] = "Last Checked";
}

<p>Data stored in session: </p>
@if (Model.FizzBuzz != null)
{
    <p>
        Your value : @Model.FizzBuzz.value
    </p>
    <p>Date: @Model.FizzBuzz.time</p>
}

 
@if (Model.FizzBuzz != null && ModelState.IsValid)
{
    
<p>
    Result:  @Model.FizzBuzz.Result()
</p>
   
}